*{
    margin: 0;
    padding: 0;
}


.main-container {
    
    background-size: cover;
    padding: 1rem;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: rgb(32, 32, 32);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #ffae01;
    font-size: 1.2em;
    font-weight: 900;
}


.content .textBox p{
     color: rgb(32, 32, 32);
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #ffae01;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 340px;
}
.mainImg {
    transition: All 500ms;
}



.actions button {
    background: #ffae01;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
}

